# General data science packages
yfinance
pandas
numpy
matplotlib
seaborn
pandas_datareader
yahooquery

# FinancialBERT related packages
torch
transformers
huggingface_hub
tokenizers
safetensors

# For data loading and processing
datasets
tqdm
pyyaml
fsspec
requests
regex
